In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
test_df = pd.read_csv('./test_a.csv', sep='\t', nrows=None)

In [4]:
test_df.head()

                                                text
0  5399 3117 1070 4321 4568 2621 5466 3772 4516 2...
1  2491 4109 1757 7539 648 3695 3038 4490 23 7019...
2  2673 5076 6835 2835 5948 5677 3247 4124 2465 5...
3  4562 4893 2210 4761 3659 1324 2595 5949 4583 2...
4  4269 7134 2614 1724 4464 1324 3370 3370 2106 2...

In [5]:
#增加索引列
test_df['id'] = range(len(test_df))

In [6]:
test_df

                                                    text     id
0      5399 3117 1070 4321 4568 2621 5466 3772 4516 2...      0
1      2491 4109 1757 7539 648 3695 3038 4490 23 7019...      1
2      2673 5076 6835 2835 5948 5677 3247 4124 2465 5...      2
3      4562 4893 2210 4761 3659 1324 2595 5949 4583 2...      3
4      4269 7134 2614 1724 4464 1324 3370 3370 2106 2...      4
...                                                  ...    ...
49995  3725 4498 2282 1647 6293 4245 4498 3615 1141 2...  49995
49996  4811 465 3800 1394 3038 2376 2327 5165 3070 57...  49996
49997  5338 1952 3117 4109 299 6656 6654 3792 6831 21...  49997
49998  893 3469 5775 584 2490 4223 6569 6663 2124 168...  49998
49999  2400 4409 4412 2210 5122 4464 7186 2465 1327 9...  49999

[50000 rows x 2 columns]

In [7]:
# 统计每类新闻字符个数
test_df['text_len'] = test_df['text'].apply(lambda x: len(x.split(' ')))

In [8]:
test_df

                                                    text     id  text_len
0      5399 3117 1070 4321 4568 2621 5466 3772 4516 2...      0       607
1      2491 4109 1757 7539 648 3695 3038 4490 23 7019...      1      1861
2      2673 5076 6835 2835 5948 5677 3247 4124 2465 5...      2       901
3      4562 4893 2210 4761 3659 1324 2595 5949 4583 2...      3      3786
4      4269 7134 2614 1724 4464 1324 3370 3370 2106 2...      4       316
...                                                  ...    ...       ...
49995  3725 4498 2282 1647 6293 4245 4498 3615 1141 2...  49995       275
49996  4811 465 3800 1394 3038 2376 2327 5165 3070 57...  49996       858
49997  5338 1952 3117 4109 299 6656 6654 3792 6831 21...  49997       299
49998  893 3469 5775 584 2490 4223 6569 6663 2124 168...  49998       470
49999  2400 4409 4412 2210 5122 4464 7186 2465 1327 9...  49999       245

[50000 rows x 3 columns]

In [9]:
test_df['text_len'].describe()

count    50000.000000
mean       909.844960
std       1032.313375
min         14.000000
25%        370.000000
50%        676.000000
75%       1133.000000
max      41861.000000
Name: text_len, dtype: float64

In [10]:
test_df_cp = test_df.copy()

In [11]:
test_df_cp

                                                    text     id  text_len
0      5399 3117 1070 4321 4568 2621 5466 3772 4516 2...      0       607
1      2491 4109 1757 7539 648 3695 3038 4490 23 7019...      1      1861
2      2673 5076 6835 2835 5948 5677 3247 4124 2465 5...      2       901
3      4562 4893 2210 4761 3659 1324 2595 5949 4583 2...      3      3786
4      4269 7134 2614 1724 4464 1324 3370 3370 2106 2...      4       316
...                                                  ...    ...       ...
49995  3725 4498 2282 1647 6293 4245 4498 3615 1141 2...  49995       275
49996  4811 465 3800 1394 3038 2376 2327 5165 3070 57...  49996       858
49997  5338 1952 3117 4109 299 6656 6654 3792 6831 21...  49997       299
49998  893 3469 5775 584 2490 4223 6569 6663 2124 168...  49998       470
49999  2400 4409 4412 2210 5122 4464 7186 2465 1327 9...  49999       245

[50000 rows x 3 columns]

In [12]:
test_df_cp['text_ls'] = test_df_cp['text'].apply(lambda x: np.array(x.split(' ')))

In [13]:
test_df_cp

,text,id,text_len,text_ls
0,5399 3117 1070 4321 4568 2621 5466 3772 4516 2...,0,607,"[5399, 3117, 1070, 4321, 4568, 2621, 5466, 377..."
1,2491 4109 1757 7539 648 3695 3038 4490 23 7019...,1,1861,"[2491, 4109, 1757, 7539, 648, 3695, 3038, 4490..."
2,2673 5076 6835 2835 5948 5677 3247 4124 2465 5...,2,901,"[2673, 5076, 6835, 2835, 5948, 5677, 3247, 412..."
3,4562 4893 2210 4761 3659 1324 2595 5949 4583 2...,3,3786,"[4562, 4893, 2210, 4761, 3659, 1324, 2595, 594..."
4,4269 7134 2614 1724 4464 1324 3370 3370 2106 2...,4,316,"[4269, 7134, 2614, 1724, 4464, 1324, 3370, 337..."
...,...,...,...,...
49995,3725 4498 2282 1647 6293 4245 4498 3615 1141 2...,49995,275,"[3725, 4498, 2282, 1647, 6293, 4245, 4498, 361..."
49996,4811 465 3800 1394 3038 2376 2327 5165 3070 57...,49996,858,"[4811, 465, 3800, 1394, 3038, 2376, 2327, 5165..."
49997,5338 1952 3117 4109 299 6656 6654 3792 6831 21...,49997,299,"[5338, 1952, 3117, 4109, 299, 6656, 6654, 3792..."
49998,893 3469 5775 584 2490 4223 6569 6663 2124 168...,49998,470,"[893, 3469, 5775, 584, 2490, 4223, 6569, 6663,..."
49999,2400 4409 4412 2210 5122 4464 7186 2465 1327 9...,49999,245,"[2400, 4409, 4412, 2210, 5122, 4464, 7186, 246..."

In [14]:
from tqdm import tqdm
add_tf = pd.DataFrame()
max_segment_length = 256

In [19]:
for index, row in tqdm(test_df_cp.iterrows(), total=50000 ):
    txid = row['id']
    text = row['text_ls']
    text_len = row['text_len']
    
    idx = list(range(0, text_len, max_segment_length))
    
    other_len = text_len % max_segment_length
    if other_len > max_segment_length / 2:
        idx.append(text_len)
    
    for i in range(len(idx) - 1):
        segment = text[idx[i]: idx[i+1]]
        segdata = {"id":txid,"text":segment}
        add_tf = add_tf.append(segdata,ignore_index=True)

100%|██████████| 50000/50000 [1:36:13<00:00,  8.66it/s]

In [16]:
add_tf_cp =add_tf.copy()

In [17]:
add_tf.head()

                       id                                               text
0  <built-in function id>  [5399, 3117, 1070, 4321, 4568, 2621, 5466, 377...
1  <built-in function id>  [4700, 6662, 3018, 5957, 6656, 2477, 648, 7543...
2  <built-in function id>  [2491, 4109, 1757, 7539, 648, 3695, 3038, 4490...
3  <built-in function id>  [4269, 4704, 2522, 5948, 3335, 3310, 900, 1985...
4  <built-in function id>  [6093, 5998, 1903, 4921, 531, 648, 2729, 5310,...

In [18]:
add_tf

,id,text
0,<built-in function id>,"[5399, 3117, 1070, 4321, 4568, 2621, 5466, 377..."
1,<built-in function id>,"[4700, 6662, 3018, 5957, 6656, 2477, 648, 7543..."
2,<built-in function id>,"[2491, 4109, 1757, 7539, 648, 3695, 3038, 4490..."
3,<built-in function id>,"[4269, 4704, 2522, 5948, 3335, 3310, 900, 1985..."
4,<built-in function id>,"[6093, 5998, 1903, 4921, 531, 648, 2729, 5310,..."
...,...,...
177344,<built-in function id>,"[1375, 5393, 669, 3800, 4811, 7509, 4151, 4293..."
177345,<built-in function id>,"[5338, 1952, 3117, 4109, 299, 6656, 6654, 3792..."
177346,<built-in function id>,"[893, 3469, 5775, 584, 2490, 4223, 6569, 6663,..."
177347,<built-in function id>,"[7387, 394, 4811, 803, 1351, 5718, 4278, 4893,..."
177348,<built-in function id>,"[2400, 4409, 4412, 2210, 5122, 4464, 7186, 246..."

In [56]:
add_tf['text'] = add_tf['text'].apply(lambda x: ' '.join(x))

In [ ]:
add_tf = add_tf.reindex(columns=['id','text'])

In [57]:
add_tf

       label                                               text
0        7.0  6242 2484 3750 307 619 3937 2674 3335 3019 648...
1        4.0  6122 2595 2169 5566 4333 3750 465 299 4464 446...
2        4.0  2210 4671 5864 3750 2490 5998 4464 3370 2035 2...
3        4.0  2446 3750 669 4490 5977 6017 5998 3007 5166 35...
4        7.0  1324 7186 7055 7251 5513 4464 3659 3370 4464 5...
...      ...                                                ...
96207    4.0  1635 1899 1401 141 781 1618 4893 2444 5028 375...
96208    4.0  62 7486 2205 3800 6835 5330 1695 5526 5560 489...
96209    4.0  812 2769 5623 6760 5560 2990 623 812 7532 4933...
96210    4.0  3750 64 812 2769 3813 5780 4151 4293 648 4941 ...
96211    4.0  3750 2983 6831 2466 2115 2282 3859 1815 6833 3...

[96212 rows x 2 columns]

In [61]:
add_tf.to_csv('./testplus.csv', sep='\t',index=False)